/* Popup overlay */
.modal-overlay {
  display: none; /* hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  font-family: "Segoe UI", sans-serif;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 10px;
}

.modal-content {
  /*background: #fff;*/
  background-color: white;
  border-radius: 12px;
  padding: 30px 20px;
  width: 95%;
  /*max-width: 800px;*/
  max-width: 500px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: auto;
  max-height: 95vh;
}

.modal-content h3 {
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.modal-content .mainp {
  font-size: 15px;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
  color: #444;
}

.form-control {
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
}

.error-message {
  font-size: 12px;
  color: red;
  margin-top: 3px;
  display: none;
}

.submitbtn {
  margin-top: 20px;
  background: #3b689a;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  width: 100%;
  transition: all 0.3s ease;
}

.submitbtn:hover {
  background: #3b679ae3;
  transform: translateY(-2px);
}

/* Close button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #666;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}

/* Responsive Adjustments */
@media (max-width: 576px) {
  .modal-content {
    padding: 20px 15px;
  }

  .modal-content h3 {
    font-size: 1.3rem;
  }

  .form-control {
    font-size: 13px;
    padding: 8px;
  }
}
